@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300|Roboto+Condensed:300,400,700,400italic);
body {
	font-family: 'Roboto', sans-serif;
	background:#fff;
	color:#474747;
	    font-size: 15px;
    line-height: 26px;
}
.topbar{     margin: 0px -15px;
height:5px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff00+0,00ffff+37,9416d6+67,e61f2b+99 */
background: #ffff00; /* Old browsers */
background: -moz-linear-gradient(left,  #ffff00 0%, #00ffff 37%, #9416d6 67%, #e61f2b 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffff00 0%,#00ffff 37%,#9416d6 67%,#e61f2b 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffff00 0%,#00ffff 37%,#9416d6 67%,#e61f2b 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#e61f2b',GradientType=1 ); /* IE6-9 */
}
.titles{font-family: 'Roboto Condensed', sans-serif; font-weight:300; font-size:30px; color:#202a5c !important;}
.titles a, a:hover{ text-decoration:none;  color:#202a5c !important;cursor:pointer;}
.titles a:hover{cursor:pointer;color:#e61f2b !important; }

.home-icon{ position:relative;top:0px;right:-439px; }
.program-icon{ position:relative;top:84px;right:-127px; }
.organization-icon{ position:relative;top:173px;right:191px; }
.consultancy-icon{ position:relative;top:295px;right:486px; }
.registraton-icon{ position:relative;top:338px;right:322px; }
.login-icon{ position:relative;top:441px;right:412px; }
.navbar-inverse .navbar-nav>li>a {
    color: #e6fbfe  !important; font-size:18px;font-weight:200;
}
h1{ color:#e61f2b}
h2,h3,h4,h5{ color:#202a5c !important;line-height:32px; }
.footer{ margin-top:20px;margin-bottom:20px;color:#fff;font-size:12px;}
.fa-home-icons{
	background-color:#202a5c;
padding: 20px;
border-radius: 57px;
color:#e61f2b;
font-size:20px !important;

	}
.careers-list{ padding:20px; border:1px;}	
.title-job{ background:#202a5c;padding:5px 10px;border:1px solid #fcdbdd;}
.title-job a{color:#fff;font-size:18px; }
.title-job a:hover{color:#8e96ba !important; }
.fa:hover{
	background-color:#F00;
color:#fff;
cursor:pointer;
	}

.header{height:150px; }
.navbar{margin-bottom:0px; }
.navbar-inverse{     background-color: transparent  !important;     border-color: transparent  !important;}
.header-aboutus{background-color:#06C9E8;
}
.header-programs{background-color:#00ba52;}
.menu-aboutus{ background-color:transparent;}
.menu-programs{ background-color:transparent;}
.loginform {
    background-color: #a41716;
  
    border-radius: 0px;
    color: #fff;
    margin-top: 20px;
}
.shadow{
	
  
    box-shadow: 0px 0px 12px #4E4C4C;
	}
	
	.programs-menu{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#035f2a+0,02981b+1,02981b+1,035f2a+98 */
background: #035f2a; /* Old browsers */
background: -moz-linear-gradient(top,  #035f2a 0%, #02981b 1%, #02981b 1%, #035f2a 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #035f2a 0%,#02981b 1%,#02981b 1%,#035f2a 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #035f2a 0%,#02981b 1%,#02981b 1%,#035f2a 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#035f2a', endColorstr='#035f2a',GradientType=0 ); /* IE6-9 */


  
    border:0px;
	border-top:1px solid #029132;
	border-radius:0px;
	}
	.aboutus-menu{
	background-color:#033c45;
  
    box-shadow: 0px 0px 12px #4E4C4C;
	}
.login-panel-body {
    padding: 0px; 
}
label {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    padding: 5px 0px;
    font-weight: 300;
}
.input-group-addon {
    
    background-color: #d9534f;
    border: 1px solid #d9534f;
   
}
.glyphicon-user, .glyphicon-lock , .glyphicon-check{ color:#a41716;}
.login-form{ padding:10px 25px; }
.loginform a{ color:#F90;}
.login-form h2{ color:#fff !important;padding:0px;margin:10px 0px;}
.newuser-join{ padding:20px; background-color:#710807; }